<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/query_choice.jpg'); background-size: 100%">
    <div class="black_bg">
        <div class="profile_label">
            {% if profile != 'unauthorized' %}
                {{ profile }}
            {% else %}
                Не авторизован
            {% endif %}
        </div>
    </div>

    <div class="restaurant_label">
        РЕСТОРАН
    </div>

    <div class="central_rectangle" style="background: rgba(0, 0, 0, 0);">
        <div class="main_label">
            ВЫБЕРИТЕ ЗАПРОС
        </div>

        <div class="links"><a class="in_link_button" href="{{url_for('main_menu_handler')}}">Главная</a> > Работа с запросами</div>

        <table class="table_of_buttons" style="margin-top: 7%; margin-bottom: 7%; width: 85%">
            <tr><td><a class="in_table_button" href="{{url_for('query.query_sql1_handler')}}">Отчёт о заказе блюд</a></td></tr>

            <tr><td><a class="in_table_button" href="{{url_for('query.query_sql2_handler')}}">Отчёт о работе официантов</a></td></tr>

            <tr><td><a class="in_table_button" href="{{url_for('query.query_sql3_handler')}}">Сведения об официантах, не принявших ни одного заказа</a></td></tr>
        </table>
    </div>
</body>
</html>