<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/work_interruption.jpg'); background-size: 100%">
    <div class="black_bg">
    </div>

    <div class="restaurant_label">
            РЕСТОРАН
    </div>

    <div class="central_rectangle">
        <div class="main_label">
            РАБОТА ЗАВЕРШЕНА
        </div>

        <div class="links"><a class="in_link_button" href="{{url_for('main_menu_handler')}}">Главная</a> > Завершение работы</div>

        <div class="regular_text">
            Возвращайтесь снова!
        </div>
    </div>
</body>
</html>