<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/login.jpg'); background-size: 100%">
    <div class="black_bg">
        <div class="profile_label">
            {% if profile != 'unauthorized' %}
                {{ profile }}
            {% else %}
                Не авторизован
            {% endif %}
        </div>
    </div>

    <div class="restaurant_label">
            РЕСТОРАН
    </div>

    <div class="central_rectangle">
        <div class="main_label">
            Авторизуйтесь!
        </div>

        <div class="links"><a class="in_link_button" href="{{url_for('main_menu_handler')}}">Главная</a> > Авторизация</div>

        <form action="" method="post" style="margin-top: 5%; margin-bottom: 5%">
            <label for="login"></label>
            <input type="text" name="login" placeholder="Логин" required id="login" class="form_style">

            <label for="password"></label>
            <input type="password" name="password" placeholder="Пароль" required id="password" class="form_style">

            <input type="submit" value="Подтвердить" class="submit_button">
        </form>
    </div>
</body>
</html>